<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
        <h3>Informaci贸n General</h3>

        <div class="campo">
            <label for="nombre">Titulo</label>
            <input id="nombre" type="text" name="titulo" placeholder="Ej: REact Developer, Node Developer, etc.">
        </div>

        <div class="campo">
            <label for="empresa">Empresa</label>
            <input id="empresa" type="text" name="empresa" placeholder="Empresa a Contratar">
        </div>

        <div class="campo">
            <label for="ubicacion">Ubicaci贸n</label>
            <input id="ubicacion" type="text" name="ubicacion" placeholder="Ubicacion de la Empresa">
        </div>

         <div class="campo">
            <label for="salario">Salario (Bs)</label>
            <input id="salario" type="text" name="salario" placeholder="Ej: 5000 Bs">
        </div>

        <div class="campo">
            <label for="contrato">Contrato</label>
            <select name="contrato" id="contrato">
                <option value="" disabled selected>---Seleccione---</option>
                <option value="FreeLance">FreeLance</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
                <option value="Medio Tiempo">Medio Tiempo</option>
                <option value="Por Proyecto">Por Proyecto</option>
            </select>
        </div>

        <h3>Descripci贸n de la Oferta de Trabajo</h3>
        <div class="campo descripcion">
            <label for="Descripci贸n"></label>
            <input type="hidden" id="x" name="descripcion">
            <trix-editor input="x"></trix-editor>
        </div>

        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#seleccionarSkills a}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Publicar la Oferta de Trabajo" class="btn btn-azul">
        </div>
    </form>
</main>